1.1.1/release/win-unpacked/locales/id.pak
1.1.1/release/win-unpacked/locales/it.pak
1.1.1/release/win-unpacked/locales/ja.pak
1.1.1/release/win-unpacked/locales/kn.pak
1.1.1/release/win-unpacked/locales/ko.pak
1.1.1/release/win-unpacked/locales/lt.pak
1.1.1/release/win-unpacked/locales/lv.pak
1.1.1/release/win-unpacked/locales/ml.pak
1.1.1/release/win-unpacked/locales/mr.pak
1.1.1/release/win-unpacked/locales/ms.pak
1.1.1/release/win-unpacked/locales/nb.pak
1.1.1/release/win-unpacked/locales/nl.pak
1.1.1/release/win-unpacked/locales/pl.pak
1.1.1/release/win-unpacked/locales/ro.pak
1.1.1/release/win-unpacked/locales/ru.pak
1.1.1/release/win-unpacked/locales/sk.pak
1.1.1/release/win-unpacked/locales/sl.pak
1.1.1/release/win-unpacked/locales/sr.pak
1.1.1/release/win-unpacked/locales/sv.pak
1.1.1/release/win-unpacked/locales/sw.pak
1.1.1/release/win-unpacked/locales/ta.pak
1.1.1/release/win-unpacked/locales/te.pak
1.1.1/release/win-unpacked/locales/th.pak
1.1.1/release/win-unpacked/locales/tr.pak
1.1.1/release/win-unpacked/locales/uk.pak
1.1.1/release/win-unpacked/locales/ur.pak
1.1.1/release/win-unpacked/locales/vi.pak
1.1.1/release/win-unpacked/msvcp140_1.dll
1.1.1/release/win-unpacked/locales/fil.pak
1.1.1/release/builder-effective-config.yaml
1.1.1/release/win-unpacked/vcruntime140.dll
1.1.1/release/win-unpacked/locales/en-GB.pak
1.1.1/release/win-unpacked/locales/en-US.pak
1.1.1/release/win-unpacked/locales/pt-BR.pak
1.1.1/release/win-unpacked/locales/pt-PT.pak
1.1.1/release/win-unpacked/locales/zh-CN.pak
1.1.1/release/win-unpacked/locales/zh-TW.pak
1.1.1/release/win-unpacked/snapshot_blob.bin
1.1.1/release/win-unpacked/d3dcompiler_47.dll
1.1.1/release/win-unpacked/locales/es-419.pak
1.1.1/release/win-unpacked/resources/app.asar
1.1.1/release/win-unpacked/resources/icon.ico
1.1.1/release/win-unpacked/resources/icon.png
1.1.1/release/win-unpacked/vcruntime140_1.dll
1.1.1/release/win-unpacked/vk_swiftshader.dll
1.1.1/release/win-unpacked/resources/icon.icns
